<% layout('layouts/boilerplate') %> 
    <h1>Add a Task</h1>

    <form action="/tasks" method="POST">
        <div>
            <label for="title">Title: </label>
            <input id="title" type="text" name="task[title]" required>
        </div>
        <label for="frequency">How Many Times per Month?</label>
        <div>
            <input id="frequency" type="range" name="task[frequency]" min="1" max="4" required>
        </div>
        <label for="description">Description:</label>
        <div>
            <textarea name="task[description]" id="" cols="30" rows="3" required>Instructions and Notes...</textarea>
        </div>

        <button class="btn cream-fill">Submit</button>
    </form>

