<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-6 offset-3">
        <h1>All Tasks</h1>

    
        <% for (let task of tasks) { %> 
            <div class="container">
                <button class="btn red-outline mb-3">
                    <a class="link-danger" href="/tasks/<%= task._id %>"><%= task.title %></a>
                </button>
            </div>
        <% } %> 
    </div>
</div>
<div class="row">
    <div class="col-6 offset-3">
        <form action="/tasks/new" method="GET">
            <button class="btn cream-fill mb-3">Add a Task</button>
        </form>
    
        <form action="/" method="GET">
            <button class="btn yellow-hearth">Back to Home</button>
        </form>
    </div>
</div>
    
    
    

   