<% layout('layouts/boilerplate') %> 
<div class="home container mb-3">
    <div class="container mb-3">
      <h1 class="display1">Chores App Home</h1>
      <h2>Welcome</h2>
    </div>
    

    <div class="container mb-3">
      <h2 id="ranking" class="display2">Current Rankings:</h2>
    </div>
  
    <div class="row">
      <% for (user of users) { %>
          <div class="col-md mb-3">
              <div class="card scoreCard">
                <div class="card-body">
                  <h5 class="card-title"><%= user.username %> </h5>
                  <p class="card-text"><%= user.choreScore %> </p>
                  <a href="/users/<%= user._id %> " class="btn red-outline">View Profile</a>
                </div>
              </div>
            </div>
      <% } %>  
    </div>
</div>



