<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chores App Home</title>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <div class="main">
        <h1>Chores App Home</h1>
        <h2>Welcome</h2>
        <ul>
            <li><a href="/schedule">View Schedule</a></li>
            <li><a href="/users">View Users</a></li>
            <li><a href="/tasks">View Tasks</a></li>    
        </ul>
    </div>
    <img class="image" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/84dc13b7-a2e7-4b45-83ec-311e72e82900/ddazqzh-b9618de7-17ca-462b-8215-4f2ce208ff5c.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzg0ZGMxM2I3LWEyZTctNGI0NS04M2VjLTMxMWU3MmU4MjkwMFwvZGRhenF6aC1iOTYxOGRlNy0xN2NhLTQ2MmItODIxNS00ZjJjZTIwOGZmNWMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.qpuEn834sBl68KEyykA8NZKcJDXM1e3WhI_UkYEasq0" alt="kaioken">
</body>
</html>