<% layout('layouts/boilerplate') %> 
<div class="main container">
    <h1 class="title">Chores App Home</h1>
    <h2>Welcome</h2>
</div>

<h2>Current Rankings:</h2>

<div class="row">
    <% for (user of users) { %>
        <div class="col">
            <h2><%= user.username %> </h2>
            <h3><%= user.choreScore %> </p>
        </div>
    <% } %>  
</div>



