<% layout('layouts/boilerplate') %> 
<div class="container mb-3">
    <h1>Current Chore Assignments</h1>
</div>
<!-- TODO: turn assignments into check boxes with an update button to send the form -->
<div class="wrapper">
<table class="table table-responsive text-white">
    <!-- <thead>
        <th scope="col">Name</th>
        <th scope="col">Assignments</th>
    </thead> -->
    <tbody>
        <% for (let assignment of assignments) { %>
            <tr class="mb-3">
                <% if (assignment.assignedTasks.length > 0) { %>
                    <td><%= assignment.username %></td>
        
                    <% for (let i = 0; i < assignment.assignedTasks.length; i++) { %>
                        <td>
                            <%= assignment.assignedTasks[i].title %>
                            <form id="form" action="/users/<%= assignment._id %>/tasks/<%= assignment.assignedTasks[i]._id %>?_method=PATCH" method="POST">
                                <button class="btn btn-secondary cream-fill">Completed</button>
                            </form>
                        </td> 
                    <% } %> 
                <% } %> 
            </tr>
        <% } %> 
    </tbody> 
</table>
</div>

        

    <!-- <div class="row">
        <div class="col-6 offset-3">
            <form action="/">
                <button class="btn yellow-hearth">Back to Home</button>
            </form>
        </div>
    </div> -->
    
    
    
    