<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chore Schedule</title>
</head>
<body>
    <h1>Current Chore Assignments</h1>
    <ul>
        <% for (let assignment of assignments) { %>
            <p>
                <!-- I feel like this is really bad, probably REFACTOR -->
                <% if (assignment.assignedTasks.length > 0) { %> 
                <h2><%= assignment.username %></h2>
                <% for (let i = 0; i < assignment.assignedTasks.length; i++) { %> 
                    <h3><%= assignment.assignedTasks[i].title %></h3>
                    <form id="form" action="/users/<%= assignment._id %>/tasks/<%= assignment.assignedTasks[i]._id %>?_method=PATCH" method="POST">
                        <button>Completed</button>
                    </form>
                <% } %> 
            <% } %> 
            </p>
        <% } %>  
    </ul>
    <form action="/">
        <button>Back to Home</button>
    </form>
</body>
</html>