
.navbar {
    background-color: #59848d;
    color: whitesmoke;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
    color: whitesmoke;
    background-color: #879171;
    background-size: contain;
}

button.cream-fill {
    /* background-color: #6d6875; */
    background-color: #f6bd60;
    border-color: #f6bd60;
    color: white;
}
button.cream-fill:hover {
    /* background-color: #6d6875; */
    background-color: #59848d;
    border-color: #59848d;
    color: white;
}

button.yellow-hearth {
    /* background-color: #6d6875; */
    /* background-color: #ffcdb2;
    border-color: #ffcdb2;
    color: #6d6875; */
    background-color: #f6bd60;
    border-color: #f6bd60;
    color: white;
}
button.yellow-hearth:hover {
    /* background-color: #6d6875;
    border-color: #ffcdb2; 
    color: #ffcdb2; */
    background-color: #59848d;
    border-color: #59848d;
    color: white;
}

button.red-outline {
    background-color: #6d6875;
    border-color: #e5989b;
    color: #e5989b;
    text-decoration: none;
}
button.red-outline a {
    text-decoration: none;
    color: #e5989b;
}
button.red-outline a:hover{
    text-decoration: none;
    color: #6d6875
}

button.red-outline:hover {
    background-color: #e5989b;
    border-color: #e5989b;
    color: #6d6875;
}

div.scoreCard {
    background-color: #879171;
    border-color: white;
    color: white;
}

div.scoreCard a.red-outline {
    background-color: #f6bd60;
    border-color: #f6bd60;
    color: white;
}

div.scoreCard a.red-outline:hover {
    background-color: #59848d;
    border-color: #59848d;
    color: white;
}

#choreButton {
    height: 15rem;
    width: 15rem;
    border-color: white;
    border-style: solid;
    border-width: .2ch;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}
#choreButton:hover {
    height: 15rem;
    width: 15rem;
    border-color: #59848d;
    background-color: #59848d;
    border-style: solid;
    border-width: .2ch;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #879171;
}

div#choreButtonTitle {
    margin-bottom: auto;
    margin-top: 1rem;
    
}
div#choreButtonIcon {
    margin-bottom: 2.5rem;
}

div#stickyBottom {
    position: fixed;
    bottom: 0;
}
