<% layout('layouts/boilerplate') %> 
<body>
    <h1>All Users</h1>
    
    <% for (let user of users) { %>
        <div id="buttonHoverText" class="container">
            <button class="btn red-outline mb-3">
                <a href="/users/<%= user._id %>"><%= user.username %></a>
            </button>
        </div>
    <% } %> 
    
    <form action="/users/new">
        <button class="btn cream-fill mb-3">Create a New User</button>
    </form>
    <form action="/">
        <button class="btn yellow-hearth">Back to Home</button>
    </form>

